@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|VT323');

body{
   background-color: rgb(54, 54, 54);
}

h1{ 
    width: auto;
    height: 150px;
    font-family: 'VT323';
    font-weight: bold;
    font-size: 80px;
    color:white;
    text-align: center;
    margin-top:  5%;
    border-bottom: 2px solid rgb(49, 49, 49);
}

#container-info{
    width: auto;
    height: 590px;
}

canvas{
    border:2px solid rgb(17, 17, 17);
}

#philosophy{
    color:white;
    font-family: 'VT323';
    font-size: 40px;
    padding-top: 5%;
    text-align: center;
    border-bottom: 2px solid rgb(49, 49, 49);
}

#player1{
    margin-top: 2%;
}

h2{
    color:white;
    font-family: 'VT323';
    font-size: 27px;
    text-align: left;
}

.button{
    margin-top: 2%;
}

.column .c{
    color:rgb(172, 171, 171);
    padding-top: 2%;
    font-family: 'VT323';
    font-size: 30px;
    text-align: center;
}

#player2{
    margin-top: 2%;
}

button{
    color:white;
    font-size: 30px;
    font-family: 'VT323';
    font-weight: bold;
    margin-top:5px;
    margin-left: 20%;
    padding: 10px;
    background-color: black;
}

a{
    margin-right: 5%;
}

span{
    color:red;
}













































































































































#philosophy{
    height: 200px;
}

#player1{

}

#player2{

}

